In [1]:
import numpy as np
import pandas as pd

pd.set_option('compute.use_numexpr', False)
pd.__version__

url = 'data/weather.csv'
df = pd.read_csv(url, engine='pyarrow', dtype_backend='pyarrow')
df.shape

(500, 31)

In [4]:
df.describe()

,station_number,wban_number,year,month,day,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,num_mean_sealevel_pressure_samples,mean_station_pressure,num_mean_station_pressure_samples,mean_visibility,num_mean_visibility_samples,mean_wind_speed,num_mean_wind_speed_samples,max_sustained_wind_speed,max_temperature,total_precipitation
count,500.000000,500.000000,500.00000,500.000000,500.000000,500.000000,500.000000,347.000000,347.000000,467.000000,467.000000,4.000000,4.0,484.000000,484.000000,487.000000,487.000000,487.000000,500.000000,374.000000
mean,145457.528000,98317.760000,1932.13800,6.732000,16.484000,47.734800,4.834000,45.252161,4.530259,1014.093789,4.479657,1010.074997,24.0,7.228926,4.853306,9.002259,4.691992,13.285832,41.099800,0.034251
std,169720.822587,11221.016064,1.33811,3.420464,8.793201,16.264887,2.770161,9.419250,2.041783,11.920030,0.952247,8.243123,0.0,7.802568,2.811020,5.897629,2.196049,7.871767,16.700258,0.108509
min,30050.000000,23119.000000,1929.00000,1.000000,1.000000,-22.200001,4.000000,10.200000,4.000000,965.500000,4.000000,1000.700012,24.0,0.000000,4.000000,0.400000,4.000000,1.900000,-27.000000,0.000000
25%,35750.000000,99999.000000,1931.00000,4.000000,9.000000,40.700001,4.000000,38.750000,4.000000,1007.500000,4.000000,1004.749985,24.0,3.375000,4.000000,4.500000,4.000000,8.900000,34.000000,0.000000
50%,39730.000000,99999.000000,1932.00000,7.000000,17.000000,49.250000,4.000000,46.299999,4.000000,1015.400024,4.000000,1010.250000,24.0,5.450000,4.000000,8.000000,4.000000,13.000000,44.099998,0.000000
75%,267020.000000,99999.000000,1933.00000,10.000000,24.000000,58.000000,5.000000,52.799999,4.000000,1021.899994,5.000000,1015.575012,24.0,9.300000,5.000000,12.000000,5.000000,18.100000,52.000000,0.010000
max,990061.000000,99999.000000,1934.00000,12.000000,31.000000,82.300003,24.000000,64.000000,24.000000,1044.699951,9.000000,1019.099976,24.0,99.400002,24.000000,36.900002,24.000000,43.900002,77.400002,1.060000

In [8]:
df.query('tornado == True')

,station_number,wban_number,year,month,day,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,...,min_temperature,min_temperature_explicit,total_precipitation,snow_depth,fog,rain,snow,hail,thunder,tornado
6,33790,99999,1929,9,17,55.700001,4,52.799999,4,1021.799988,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
32,39800,99999,1930,7,4,56.299999,4,53.5,4,1011.900024,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
39,38940,99999,1930,7,9,62.500000,4,58.700001,4,1024.699951,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
42,38040,99999,1930,5,14,52.000000,4,51.0,4,1016.0,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
44,36010,99999,1930,8,30,59.299999,4,58.200001,4,1021.099976,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
45,37950,99999,1930,9,30,52.200001,4,50.5,4,1019.5,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
51,37770,99999,1930,12,9,36.000000,4,35.0,4,1004.700012,...,<NA>,<NA>,<NA>,<NA>,True,True,True,True,True,True
63,32620,99999,1930,12,12,40.200001,5,39.0,4,997.0,...,<NA>,<NA>,0.47,<NA>,True,True,True,True,True,True
64,39800,99999,1930,9,11,52.200001,5,<NA>,<NA>,1014.299988,...,<NA>,<NA>,0.02,<NA>,True,True,True,True,True,True
106,37950,99999,1931,5,12,53.799999,4,50.900002,4,1021.5,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
153,726810,24131,1931,1,16,35.299999,24,29.799999,7,<NA>,...,<NA>,<NA>,<NA>,<NA>,True,True,True,True,True,True
165,32620,99999,1932,6,2,47.200001,4,46.299999,4,1016.200012,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
171,37950,99999,1932,1,19,49.000000,4,48.0,4,1033.800049,...,<NA>,<NA>,<NA>,<NA>,True,True,True,True,True,True
187,106090,99999,1932,8,18,80.699997,4,<NA>,<NA>,1025.400024,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
193,37950,99999,1932,8,9,60.500000,4,58.5,4,1022.200012,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
230,34970,99999,1932,1,19,49.200001,5,47.900002,4,1032.699951,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
231,37770,99999,1932,3,16,41.799999,5,32.5,4,1020.599976,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
244,39730,99999,1932,8,16,61.000000,5,60.0,4,1022.099976,...,<NA>,<NA>,0.12,<NA>,True,True,True,True,True,True
245,34970,99999,1932,12,27,38.200001,5,37.5,4,1027.099976,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
255,103840,99999,1932,4,28,45.400002,7,36.299999,7,1016.299988,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
260,105130,99999,1932,6,14,67.300003,8,59.299999,8,1018.200012,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
267,284400,99999,1933,9,23,44.500000,4,<NA>,<NA>,1030.699951,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
306,31590,99999,1933,8,29,61.400002,4,55.0,4,1015.099976,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
316,370500,99999,1933,11,1,43.700001,4,<NA>,<NA>,1023.599976,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
331,37770,99999,1933,10,30,43.700001,4,40.5,4,1007.5,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
356,375450,99999,1933,3,22,51.799999,4,<NA>,<NA>,1021.5,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
366,372280,99999,1933,2,18,29.299999,4,<NA>,<NA>,1014.200012,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
382,104160,99999,1933,12,31,30.000000,5,28.9,5,1017.700012,...,<NA>,<NA>,0.12,<NA>,True,True,True,True,True,True
387,38040,99999,1933,2,3,48.000000,5,47.5,4,1014.700012,...,<NA>,<NA>,0.16,<NA>,True,True,True,True,True,True
407,38940,99999,1933,8,29,64.699997,6,61.700001,4,1017.599976,...,<NA>,<NA>,0.02,<NA>,True,True,True,True,True,True
418,103840,99999,1933,11,28,35.799999,9,34.799999,9,1020.299988,...,<NA>,<NA>,0.14,<NA>,True,True,True,True,True,True
453,38040,99999,1934,7,1,62.799999,4,59.799999,4,1026.099976,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
456,38040,99999,1934,7,2,62.200001,4,59.299999,4,1027.400024,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
467,102700,99999,1934,12,21,40.000000,4,38.900002,4,1016.599976,...,<NA>,<NA>,0.02,<NA>,True,True,True,True,True,True
470,307580,99999,1934,12,17,-4.500000,4,<NA>,<NA>,1028.300049,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
475,298650,99999,1934,12,26,-18.799999,4,<NA>,<NA>,1027.800049,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True
485,37950,99999,1934,5,1,48.200001,4,45.5,4,1013.599976,...,<NA>,<NA>,0.0,<NA>,True,True,True,True,True,True